<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="A quiz with advanced JavaScript questions"
    />
    <meta name="keywords" content="JavaScript, quiz, Advanced Javascript" />
    <meta name="author" content="smg" />
<meta rel="canonical" content="SMG"/>
    <title>Quize | SMG </title>

    <link rel="icon" type="image/png" href="/favicon.svg" />
    

    <script defer src="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/bundle.js?alt=media&token=124cebc7-c645-42ac-b22d-c05706068ac0&_gl=1*1l3hle0*_ga*MjAyNDY5ODM1MC4xNjk4OTE3NTM0*_ga_CW55HF8NVT*MTY5OTI2MzA3My44LjEuMTY5OTI2NTEzMS42LjAuMA.."></script>
    <script defer src="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/backend.js?alt=media&token=65c82700-0c55-47fd-a3b6-c3505334f01a&_gl=1*5x2f83*_ga*MjAyNDY5ODM1MC4xNjk4OTE3NTM0*_ga_CW55HF8NVT*MTY5OTI2MzA3My44LjEuMTY5OTI2NTEwMi4zNS4wLjA."></script>
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/global.css?alt=media&token=6f2b0cc2-a2dd-45bc-8896-dc17c2382fb3&_gl=1*zmdogc*_ga*MjAyNDY5ODM1MC4xNjk4OTE3NTM0*_ga_CW55HF8NVT*MTY5OTI2MzA3My44LjEuMTY5OTI2NTAzMS4zMi4wLjA." />
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/contact-database-9c47b.appspot.com/o/bundle.css?alt=media&token=43ba2bb1-d019-4667-a8df-d7cc78873427&_gl=1*hwhmjq*_ga*MjAyNDY5ODM1MC4xNjk4OTE3NTM0*_ga_CW55HF8NVT*MTY5OTI2MzA3My44LjEuMTY5OTI2NTA3Ny42MC4wLjA." />
  </head>

  <body></body>
</html>
